<html lang="pt-BR">
<head th:replace="~{base :: head}"></head>
<body onload="onLoad()">
    <div th:replace="~{base :: logo}"></div>
    <div class="container" id="ordens-servico">
        <div th:replace="~{base :: titulo('Últimas Ordens de Serviço')}"></div>

        <div class="card">
            <div class="card-body">
                <table style=text-align:center class="table table-striped">
                    <thead>
                        <tr>
                            <th scope="col">STATUS</th>
                            <th scope="col">PEÇA</th>
                            <th scope="col">TIPO DA PEÇA</th>
                            <th scope="col">MARCA</th>
                            <th scope="col">NOME DO CLIENTE</th>
                            <th scope="col">DATA DE CADASTRO</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="ordem in ordens">
                            <td>
                                <div v-if="ordem.status === 'FINALIZADA'">
                                    <div data-bs-toggle="tooltip" data-bs-placement="top" title="Finalizada">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div v-else-if="ordem.status === 'INICIADA'">
                                    <div data-bs-toggle="tooltip" data-bs-placement="top" title="Iniciada">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-dash-circle" viewBox="0 0 16 16">
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M4 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 4 8z"/>
                                        </svg>
                                    </div>
                                </div>
                                <div v-else>
                                    <div data-bs-toggle="tooltip" data-bs-placement="top" title="Pendente">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-exclamation-circle" viewBox="0 0 16 16" >
                                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"/>
                                        </svg>
                                    </div>
                                </div>
                            </td>
                            <td>{{ordem.nomePeca}}</td>
                            <td>{{ordem.tipoPeca}}</td>
                            <td>{{ordem.marcaPeca}}</td>
                            <td>{{ordem.nomeCliente}}</td>
                            <td>{{ordem.dataCadastro}}</td>
                            <td>{{ordem.descricao}}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <script>
        function onLoad() {
            var app = new Vue(
            {
                el : '#ordens-servico',
                data : {
                    ordens : []
                },
                mounted () {
                    axios
                        .get('http://localhost:8080/api/ordemservico')
                        .then(response => {
                            this.ordens = response.data
                        })
                }
            });
        }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</body>
</html>