<html lang="pt-BR">
<head th:replace="~{base :: head}"></head>
<body onload="onLoad()">
    <div th:replace="~{base :: logo}"></div>
    <div class="container" id="ordem-servico">
        <div th:replace="~{base :: titulo('Ordem de Serviço')}"></div>

        <div th:replace="~{base :: cardFormularioCliente}"></div>
        <div th:replace="~{base :: cardFornmularioPecaOrdemServico}"></div>
        <div class="p-3 d-flex bg-light">
            <button v-if="ordemServico.cadastrada" class="btn btn-success mt-2">Cadastrada</button>
            <button v-else class="btn btn-primary mt-2" v-on:click="cadastraOrdemServico(ordemServico)">Cadastrar
            </button>
        </div>
    </div>
    <script>
        function onLoad() {
            var app = new Vue(
                {
                    el: '#ordem-servico',
                    data: {
                        ordemServico: {
                            erros: {
                                nome: '',
                                email: '',
                                peca: '',
                                descricao: ''
                            },
                            cadastrada: false
                        }
                    },
                    methods: {
                        cadastraOrdemServico: function (ordemServico) {
                            ordemServico.erros = {
                                nome: '',
                                email: '',
                                peca: '',
                                descricao: ''
                            };
                            axios
                                .post('http://localhost:8080/api/ordemservico', {
                                    nome: ordemServico.nome,
                                    endereco: ordemServico.endereco,
                                    telefone: ordemServico.telefone,
                                    email: ordemServico.email,
                                    peca: ordemServico.peca,
                                    tipo: ordemServico.tipo,
                                    marca: ordemServico.marca,
                                    descricao: ordemServico.descricao,
                                    dataInicio: ordemServico.dataInicio,
                                    dataTermino: ordemServico.dataTermino
                                })
                                .then(response => ordemServico.cadastrada = true)
                                .catch(error => {
                                    error.response.data.errors.forEach(error => {
                                        ordemServico.erros[error.field] = error.defaultMessage;
                                    })
                                })
                        }
                    }
                });
        }
    </script>
</body>
</html>