<html lang="pt-BR">
<head th:replace="~{base :: head}"></head>
<body onload="onLoad()">
    <div th:replace="~{base :: logo}"></div>
    <div class="container" id="ordens-servico">
        <div th:replace="~{base :: titulo('Pendentes')}"></div>
        <div class="card mb-3" v-for="ordemServico in ordensServico" :key="ordemServico.id">
            <div class="card-header alert-warning">{{ordemServico.nomeCliente}}</div>
            <div class="card-body">
                <div class="row">
                    <div class="col">
                        <div class="text-start">
                            Peça: {{ordemServico.nomePeca}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-start ">
                            Data de Cadastro: {{ordemServico.dataCadastro}}
                        </div>

                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col">
                        <div class="text-start">
                            Tipo da Peça:   {{ordemServico.tipoPeca}}
                        </div>
                    </div>
                    <div class="col">
                        <div class="text-start">
                            Marca:  {{ordemServico.marcaPeca}}
                        </div>
                    </div>
                </div>
                <label class="form-label mt-3">Descrição do problema:</label>
                <div class="text-start">
                    {{ordemServico.descricao}}
                </div>
                <div class="row">
                    <div class="mt-3 col">
                        <label class="form-label">Data Início</label>
                        <input type="datetime-local" class="form-control" v-model="ordemServico.dataInicio"
                               v-bind:class="{'is-invalid':ordemServico.erros.dataInicio !==''}"/>
                        <div v-if="ordemServico.erros.dataInicio" class="invalid-feedback">
                            {{ordemServico.erros.dataInicio}}
                        </div>
                    </div>
                    <div class="mt-3 col">
                        <label class="form-label">Data Término</label>
                        <input type="datetime-local" class="form-control"
                               v-model="ordemServico.dataTermino"/>
                    </div>
                </div>
                <div class="mt-3 col">
                    <label class="form-label">Comentário</label>
                    <textarea class="form-control"
                              placeholder="detalhes da execução da ordem de serviço"
                              maxlength="500"
                              v-model="ordemServico.comentario"></textarea>
                </div>

                <div class="d-grid gap-2 d-md-flex justify-content-between">
                    <div>
                        <button v-if="ordemServico.iniciada" class="btn btn-success mt-4">Iniciada</button>
                        <button v-else class="btn btn-primary mt-4" v-on:click="iniciaOrdemServico(ordemServico)">Iniciar</button>
                    </div>
                    <div>
                        <button type="button" class="btn btn-warning mt-4 me-3" id="editarButton" v-on:click="buscaInformacaoPeca(ordemServico)">Editar</button>
                        <button type="button" class="btn btn-danger mt-4" data-bs-toggle="modal" data-bs-whatever="ordemServico.id" data-bs-target="#confirmacaoDeleta">Deletar</button>
                    </div>
                    <div class="modal fade" id="formularioEditar" role="dialog">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="editarOdemServico">Editar Ordem de Serviço</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body">
                                    <div class="card" id="ordemServicoParaEditar">
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="mb-3 col">
                                                    <label for="peca" class="form-label">Peça</label>
                                                    <input id="peca" type="text" class="form-control" placeholder="nome da peça" v-model="ordemServico.peca"
                                                           v-bind:class="{'is-invalid':ordemServico.erros.peca !==''}"/>
                                                    <div v-if="ordemServico.erros.peca" class="invalid-feedback">
                                                        {{ordemServico.erros.peca}}
                                                    </div>
                                                </div>
                                                <div class="mb-3 col">
                                                    <label for="tipo" class="form-label">Tipo da Peça</label>
                                                    <input id="tipo" type="text" class="form-control" placeholder="tipo da peça" v-model="ordemServico.tipo"/>
                                                </div>
                                                <div class="mb-3 col">
                                                    <label for="marca" class="form-label">Marca</label>
                                                    <input id="marca" type="text" class="form-control" placeholder="marca da peça"
                                                           v-model="ordemServico.marca"/>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3 col">
                                                    <label for="descricao" class="form-label">Descrição</label>
                                                    <textarea id="descricao" class="form-control" placeholder="descrição do problema da peça" maxlength="500"
                                                              v-model="ordemServico.descricao" v-bind:class="{'is-invalid':ordemServico.erros.descricao !==''}"></textarea>
                                                    <div v-if="ordemServico.erros.descricao" class="invalid-feedback">
                                                        {{ordemServico.erros.descricao}}
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="mb-3 col">
                                                    <label for="dataInicio" class="form-label">Data Início</label>
                                                    <input id="dataInicio" type="datetime-local" class="form-control" v-model="ordemServico.dataInicio"/>
                                                </div>
                                                <div class="mb-3 col">
                                                    <label for="dataTermino" class="form-label">Data Término</label>
                                                    <input id="dataTermino" type="datetime-local" class="form-control" v-model="ordemServico.dataTermino"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    <button class="btn btn-warning" data-bs-dismiss="modal" v-on:click="editarOrdemServico(ordemServico)">Editar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="modal fade" id="confirmacaoDeleta" tabindex="-1" aria-labelledby="deletarOdemServico" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="deletarOdemServico">Deletar Ordem de Serviço?</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Fechar"></button>
                                </div>
                                <div class="modal-body">
                                    <p class="text-center text-wrap">Você tem certeza que deseja deletar esta Ordem de Serviço?</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                    <button class="btn btn-danger" data-bs-dismiss="modal" v-on:click="deletarOrdemServico(ordemServico)">Deletar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function onLoad() {
            var app = new Vue(
                {
                    el: '#ordens-servico',
                    data: {
                        ordensServico: [],
                        ordemServicoParaEditar: []
                    },
                    mounted () {
                        axios
                            .get('http://localhost:8080/api/ordemservico/pendente')
                            .then(response => {
                                response.data.forEach(ordemServico =>{
                                    ordemServico.iniciada = false;
                                    ordemServico.erros = {
                                        dataInicio: ''
                                    }
                                })
                                this.ordensServico = response.data
                            })
                    },
                    methods: {
                        iniciaOrdemServico: function (ordemServico) {
                            ordemServico.erros = {
                                dataInicio: ''
                            };
                            axios
                                .post('http://localhost:8080/api/ordemservico/iniciar', {
                                    id: ordemServico.id,
                                    dataInicio: ordemServico.dataInicio,
                                    dataTermino: ordemServico.dataTermino,
                                    comentario: ordemServico.comentario
                                })
                                .then(response => ordemServico.iniciada = true)
                                .catch(error => {
                                    error.response.data.errors.forEach(error => ordemServico.erros[error.field] = error.defaultMessage)
                                })
                        },
                        deletarOrdemServico: function (ordemServico) {
                            axios
                                .delete('http://localhost:8080/api/ordemservico/deletar/' + ordemServico.id)
                                .then(response => this.ordensServico.splice(this.ordensServico.indexOf(ordemServico), 1))
                                .catch(error => {
                                    console.log(error)
                                })
                        },
                        buscaInformacaoPeca: function (ordemServico) {
                            axios
                                .get('http://localhost:8080/api/ordemservico/peca/' + ordemServico.id)
                                .then(response => this.ordemServicoParaEditar = response.data)
                                .catch(error => {
                                    console.log(error)
                                })
                        }
                    }
                });
        }
        $(document).ready(function(){
            $("#editarButton").click(function(){
                $("#formularioEditar").modal("show");
            });
            $("#formularioEditar").on('show.bs.modal', function(){
                alert('The modal is about to be shown.');
            });
        });
    </script>

</body>
</html>